body {
   margin: 0;
}

.wrapper {
   margin: auto;
}

.sectionOne {
   z-index: 3;
}

.sectionOne__main {
   position: relative;
}

.sectionOne__content {
   position: absolute;
   top: 55px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.content__logo {
   width: 137px;
   height: 42px;
   margin-bottom: 89px;
}

.content__date {
   position: relative;
   font: 24px/24px "gilroy-extrabold", sans-serif;
   color: #fff;
   margin-bottom: 104px;
   background: url(img/underline.svg);
}

/* .content__date::before {
   position: absolute;
   top: 10px;
   right: -5px;
   content: url(img/underline.svg);
   z-index: -1;
} */

.content__title {
   max-width: 589px;
   text-align: center;
   font: 58px/67px "gilroy-extrabold", sans-serif;
   text-transform: uppercase;
   color: #fff;
   margin-bottom: 20px;
}

.content__subtitle {
   font: 24px/24px "gilroy-extrabold", sans-serif;
   color: #fff;
   margin-bottom: 49px;
}

.content__quantity {
   font: 22px/22px "gilroy-extrabold", sans-serif;
   color: #fff;
   text-transform: uppercase;
   margin-bottom: 55px;
}

.content__link {
   background-color: #E18370;
   border-radius: 33px;
   border: none;
   padding: 23px 34px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font: 20px/20px "gilroy-extrabold", sans-serif;
   color: #fff;
}

.sectionTwo {
   position: relative;
   top: -45px;
   background-color: #FFF2E9;
   width: 100%;
   height: 387px;
}

.sectionTwo__context {
   position: relative;
   top: 143px;
   display: flex;
   margin: auto;
   width: 72%;
}

.context__title {
   position: relative;
   font: 46px/53px "gilroy-extrabold", sans-serif;
   text-transform: uppercase;
   color: #000;
   max-width: 327px;
   padding-right: 66px;
}

.context__title::before {
   position: absolute;
   top: -338px;
   content: url(img/dots-group.svg);
}

.title__part {
   color: #E18370;
}

.context__time {
   position: relative;
   top: -16px;
}

.sectionThree {
   position: relative;
   text-align: center;
}

.sectionThree__map {
   position: relative;
   top: -46px;
   left: 35px;
}

.sectionThree__frame {
   position: absolute;
   top: 158px;
   right: 196px;
   width: 463px;
   height: 255px;
   background-color: #E18370;
   border-radius: 33px;
   color: #fff;
}

.frame__title {
   position: relative;
   top: 34px;
   font: 36px/36px "gilroy-extrabold", sans-serif;
   text-transform: uppercase;
}

.frame__subtitle {
   position: relative;
   top: 62px;
   font: 26px/37px "gilroy-extrabold", sans-serif;
}

.sectionFour {
   position: relative;
   top: 71px;
}

.sectionFour__title {
   font: 46px/46px "gilroy-extrabold", sans-serif;
   text-transform: uppercase;
   text-align: center;
}

.sectionFour__firstPerson {
   position: relative;
   top: 36px;
   left: -54px;
   display: flex;
   justify-content: center;
}

.firstPerson__icon {
   
}

.firstPerson__history {

}

.sectionFour__secondPerson {

}





